body{
	background-image: url("https://1.bp.blogspot.com/-RWwf03S87mc/YPBkowZuIWI/AAAAAAAC2kM/GlqAjwEMakkX5aa25vFicLcs-ams591SwCLcBGAsYHQ/s1024/DSC07990.JPG");
	background-size: cover;
	background-repeat: no-repeat; height: 100vh;
  	width: 100%;
  	z-index: 2;
}
